@import "./colors.css";

@define-color accent @primary_container;
@define-color bg @background;
@define-color text @on_primary_container;
@define-color invText @color0;

* {
    font-family: "Iosevka";
    font-size: 14px;
    border-radius: 0px;
    min-height: 0px;
    opacity: 1;
}

window#waybar {
    background-color: @bg;
    color: @text;
    transition-property: background-color;
    /* opacity: 0.85; */
}

#workspaces button {
    padding: 0 5px;
    color: @text;
}

#workspaces button.active {
    background-color: @accent;
    color: @invText;
}

#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray,
#custom-icon {
    background-color: transparent;
    color: @text;
    margin: 0px;
}

#custom-divider {
    color: @accent;
}

.modules-left,
.modules-right {
    background-color: @bg;
    padding: 0px;
}

.modules-right {
    padding-left: 4px;
}

#window {
    color: @invText;
    background-color: @accent;
    padding-left: 4px;
}
