@define-color foreground #c1c4c4;
@define-color background #081313;
@define-color cursor #c1c4c4;

@define-color color0 #081313;
@define-color color1 #728683;
@define-color color2 #7e8379;
@define-color color3 #74857e;
@define-color color4 #7c8574;
@define-color color5 #a0a98e;
@define-color color6 #b2b085;
@define-color color7 #c1c4c4;
@define-color color8 #6d8686;
@define-color color9 #728683;
@define-color color10 #7e8379;
@define-color color11 #74857e;
@define-color color12 #7c8574;
@define-color color13 #a0a98e;
@define-color color14 #b2b085;
@define-color color15 #c1c4c4;
