* {
	border: none;
	box-shadow: none;
	outline: none;
}
window {
	font-size: 14px;
	font-family: "Iosevka";
	background-color: #1a120e;
	border: 1px solid #52443d;
}
#outer-box {
	margin: 10px 10px 20px 10px;
	background-color: #1a120e;
}
#inner-box {
	margin: 10px;
	background-color: #1a120e;
}
#text {
	margin: 5px;
}
#entry {
	padding: 5px 10px;
}
#entry > #text {
	font-weight: normal;
	color: #ffb691;
}
#entry:selected {
	padding: 5px 10px;
	background-color: #542202;
}
#input {
	background: transparent;
	margin: 0px 5px 0px 20px;
	color: #cfc890;
	padding: 5px;
}
#image {
	margin-left: 20px;
	margin-right: 20px;
}
#scroll {
	margin: 0px;
}
