window {
	font-family: "Iosevka";
	background-color: #1a120e;
	border: 1px solid #52443d;
}
#input {
	margin: 2px;
	padding: 4px;
	border: none;
	background-color: #1a120e;
	color: #ffb691;
}
#inner-box {
	margin: 0px;
}
#outer-box {
	margin: 0px;
}
#scroll {
	margin: 0px;
}
#text {
	margin: 2px;
	color: #ffb691;
}
#entry {
	padding: 2px;
	margin: 0px;
}
#entry:selected {
	background-color: #52443d;
}
#img {
	margin: 2px;
	padding-left: 4px;
}
