window {
	font-family: "Iosevka";
	background-color: #0f1416;
	border: 1px solid #3f484b;
}
#input {
	margin: 2px;
	padding: 4px;
	border: none;
	background-color: #0f1416;
	color: #84d2e6;
}
#inner-box {
	margin: 0px;
}
#outer-box {
	margin: 0px;
}
#scroll {
	margin: 0px;
}
#text {
	margin: 2px;
	color: #84d2e6;
}
#entry {
	padding: 2px;
	margin: 0px;
}
#entry:selected {
	background-color: #3f484b;
}
#img {
	margin: 2px;
	padding-left: 4px;
}
